/*   less  805px     */
@media screen and (max-width: 805px) {
    .app {
        padding: 0 12px;
    }
    hr {
        display: none;
    }
    .cars__description {
        text-align: center;
    }
    .wrap__content {
        display: block;
    }
    .form {
        margin: auto;
        width: 100%;
        text-align: center;
    }
    .form input {
        margin: 10px auto 12px;
        width: 80%;
        padding: 12px 5px;
        font-size: 18px;
        padding-left: 20px;
    }
    .list {
        margin: 20px auto 20px;
        width: 84%;
    }
    .list__item {
        padding: 12px 16px;
    }
    .list__item:after {
        top: 13px;
        left: -16px;
        width: 105%;
    }
    .details {
        display: block;
    }
    .details__title {
        width: 100%;
        height: 315px;
    }
    .details__image {
        width: 60%;
        height: 260px;
    }
    .cars__details {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .cars__details h2 {
        text-align: center;
    }
    .details__list {
        margin: 2px auto 7px;
        display: block;
    }
    .details__list li {
        font-size: 20px;
    }
    .details__phone {
        margin: 0 auto 10px;
    }
    .buttons__details {
        display: flex;
        justify-content: center;
    }
    .btn__success {
        margin-right: 28px;
    }
    .modal {
        width: 50%;
        left: 18%;
        padding: 0 60px;
    }
}

@media screen and (max-width: 650px) {
    .list__item:after {
        top: 13px;
        left: -16px;
        width: 107%;
    }
    .details__image {
        width: 70%;
        height: 260px;
    }

    .modal {
        left: 15%;
    }
}

@media screen and (max-width: 500px) {
    .list__item:after {
        top: 13px;
        left: -16px;
        width: 109%;
    }
    .details__image {
        width: 90%;
        height: 200px;
    }
    .details__title {
        height: 270px;
    }
    .details__phone {
        margin: 0 auto 10px;
    }
    .modal {
        width: 75%;
        padding: 0 35px;
        left: 5%;
    }
    .modal h3 {
        font-size: 20px;
    }
    .showTel {
        transform: translateX(80px);
    }
}

@media screen and (max-width: 440px) {
    .modal {
        width: 70%;
        left: 6%;
    }
}

@media screen and (max-width: 380px) {
    .modal {
        width: 71%;
        left: 4%;
    }
}
